/Research/Volume-Constance-Brown/HospitalDataProcessing/dist/Processing.exe
/Research/Volume-Constance-Brown/HospitalDataProcessing/build/Processing/PKG-00.pkg
/Research/Volume-Constance-Brown/Volume/ETH_M.pkl
/Research/Volume-Constance-Brown/Volume/NSEI.avi
/Research/Volume-Constance-Brown/Volume/BTC.avi
/Research/Volume-Constance-Brown/Volume/BJFN.avi
/Research/Volume-Constance-Brown/Volume/ETH/ETH_M.pkl
/Research/Volume-Constance-Brown/Volume/ETH/ETH_HourlyLevels_Plots.zip
/Research/Volume-Constance-Brown/Volume/SelectedStrategiesMRStdevNoRecalib.pkl
/.venv/
/Caches/
/.git/
/.venv/lib/python3.9/site-packages/tensorflow/python/_pywrap_tensorflow_internal.so
/.git/objects/pack/pack-229d0f7f79bc54928290bc9c6c1bd4314cfc812c.pack
